<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les canards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <form action="" method="post">
            <input type="search" name="search" id="search" class="form-control">
            <input type="submit" value="Rechercher" class="btn btn-primary">
            <a href="/">retour</a>
        </form>

        <h1 class="text-center mb-5">Les canards</h1>
        <p>
            « Canard » est un terme générique qui désigne des oiseaux aquatiques ansériformes, au cou court, au large bec jaune aplati, aux très courtes pattes palmées et aux longues ailes pointues, domestiqués ou non1,2,3.
        </p>
        <p>
        Ils font pour la plupart partie de la famille des Anatidés. Ce mot désigne des espèces qui ne portent pas nécessairement un nom vernaculaire contenant le terme canard. En effet, certaines espèces qualifiées de canards sont désignées par des noms vernaculaires comportant des termes comme dendrocygnes, sarcelles, tadornes4 ou brassemers. Le canard sauvage est un oiseau migrateur1. C'est du Canard colvert que sont issues de nombreuses races de canards domestiques.
        </p>
        <p>
        Dénominations et étymologie
        </p>
        <p>
        Canard de Barbarie, cane et ses 19 canetons.
        L'origine du terme canard n'est pas connue, une orthographe connue du xiiie siècle donne quanart5. Il est probable que ce terme dérive d'une onomatopée, comme caqueter5. Ce terme est aussi générique ; les espèces appelées « canard » peuvent être plus spécifiquement appelées pilet, sarcelle, tadorne…
        </p>
        <p>
        Pour désigner son cri, on dit que le canard cancane6,7,8 et l'onomatopée « coin-coin » est utilisée pour décrire ses vocalisations9,10,11.
        </p>
        <p>
        Le canard femelle adulte est la cane12,13,14 ; le jeune canard, le caneton15,16,17 ; le canard sauvage de l'année, ne maîtrisant pas encore son vol, le halbran18,19,20.
        </p>
        <p>
        Caractéristique	Dénomination
        mâle	canard ou malard
        femelle	cane
        jeune femelle	canette
        oisillon	caneton, canardeau ou canichon21
        juvénile	canardeau ou halbran
        On peut distinguer plusieurs types de canards suivant leur mode de vie :
        </p>
        <p>
        les canards de surface (genres Anas, Aix, etc.) ;
        les canards plongeurs (genres Aythya, Netta, etc.) ;
        les canards piscivores de la sous-famille des merginés.
        Certains d'entre eux sont des canards marins (genres Melanitta et Clangula).
        </p>
        <p>

        La chasse au canard
        Le canard le plus chassé en Europe est le colvert. En 1998 en France, il était au 7e rang du tableau de chasse annuel avec 1 561 150 unités22. Les chasses pratiquées sont la chasse à l'affût, la chasse à l'appelant avec canard éjointé ou appeau et maquette. L'éjointage est cependant interdit en Europe depuis 2005. La chasse de nuit est légale en France mais interdite dans certains pays car certaines espèces peuvent se nourrir la nuit.
        </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>